@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  :root {
    --background: 10, 0%, 100%;
    --foreground: 0, 0%, 10%;
    --foreground-hover: 0, 0%, 18%;

    --muted: 0, 0%, 82%;
    --muted-foreground: 225, 7%, 47%;

    --popover: 0, 0%, 88%;
    --popover-foreground: 0, 0%, 10%;

    --card: 0, 0%, 93%;
    --card-foreground: 0, 0%, 40%;

    --border: 0, 0%, 82%;
    --input: 0, 0%, 100%;

    --primary: 0, 0%, 76%;
    --primary-foreground: 50, 0%, 30%;

    --secondary: 37, 100%, 70%;
    --secondary-foreground: 50, 40%, 37%;

    --accent: 220, 54%, 39%;
    --accent-foreground: 0, 100%, 100%;

    --destructive: 0, 25%, 53%;
    --destructive-foreground: 7, 59%, 60%;

    --ring: 0, 0%, 75%;
  }

  .dark {
    --background: 10, 5%, 15%;
    --foreground: 0, 0%, 92%;
    --foreground-hover: 0, 0%, 100%;

    --muted: 200, 2%, 25%;
    --muted-foreground: 230, 4%, 66%;

    --popover: 20, 0%, 20%;
    --popover-foreground: 0, 0%, 100%;

    --card: 0, 0%, 26%;
    --card-foreground: 200, 2%, 21%;

    --border: 200, 2%, 25%;
    --input: 0, 0%, 100%;

    --primary: 0, 0%, 24%;
    --primary-foreground: 32, 50%, 60%;

    --secondary: 45, 60%, 60%;
    --secondary-foreground: 36, 38%, 80%;

    --accent: 220, 54%, 39%;
    --accent-foreground: 227, 100%, 50%;

    --destructive: 8, 44%, 35%;
    --destructive-foreground: 8, 65%, 50%;

    --ring: 0, 0%, 29%;
  }
}
