@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html::-webkit-scrollbar {
    width: 12px;
  }

  html::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 12px;
  }

  html {
    @apply scroll-smooth;
    scrollbar-width: 12px;
  }

  a:hover {
    color: rgb(187, 119, 31);
  }

  :root {
    --background: 10, 0%, 90%;
    --foreground: 0, 0%, 10%;
    --foreground-hover: 0, 0%, 18%;

    --muted: 0, 0%, 82%;
    --muted-foreground: 225, 7%, 47%;

    --popover: 0, 0%, 88%;
    --popover-foreground: 0, 0%, 10%;

    --card: 0, 0%, 100%;
    --card-foreground: 0, 0%, 40%;

    --border: 0, 0%, 82%;
    --input: 0, 0%, 100%;

    --primary: 230, 50%, 40%;
    --primary-foreground: 0, 0%, 94%;

    --secondary: 50, 18%, 75%;
    --secondary-foreground: 50, 40%, 17%;

    --accent: 50, 50%, 70%;
    --accent-foreground: 40, 100%, 80%;

    --destructive: 0, 25%, 53%;
    --destructive-foreground: 7, 59%, 60%;

    --ring: 0, 0%, 75%;
  }

  .dark {
    --background: 10, 5%, 5%;
    --foreground: 0, 0%, 92%;
    --foreground-hover: 0, 0%, 100%;

    --muted: 200, 2%, 25%;
    --muted-foreground: 230, 4%, 66%;

    --popover: 20, 0%, 20%;
    --popover-foreground: 0, 0%, 100%;

    --card: 10, 5%, 15%;
    --card-foreground: 200, 2%, 21%;

    --border: 200, 2%, 25%;
    --input: 0, 0%, 100%;

    --primary: 220, 20%, 20%;
    --primary-foreground: 0, 0%, 75%;

    --secondary: 220, 20%, 22%;
    --secondary-foreground: 36, 38%, 80%;

    --accent: 200, 20%, 25%;
    --accent-foreground: 0, 0%, 70%;

    --destructive: 8, 44%, 35%;
    --destructive-foreground: 8, 65%, 50%;

    --ring: 0, 0%, 29%;
  }

  /* Swipper buttons */

  .swiper-custom-button-left,
  .swiper-custom-button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
  }

  .swiper-custom-button-left {
    left: 10px;
  }

  .swiper-custom-button-right {
    right: 10px;
  }

  .quill > .ql-container > .ql-editor.ql-blank::before {
    font-size: 20px;
    color: rgb(145, 145, 145);
  }
}
